.pagination li {
  display: inline-block;
  overflow: hidden;
}

.pagination a {
  text-align: center;
  width: 45px;
  line-height: 42px;
  height: 45px;
  border: 1px solid rgba(49, 48, 55, 1);
  border-radius: 15px;
  margin-right: 14px;
  cursor: pointer;
  display: inline-block;
  color: rgba(49, 48, 55, 1);
}

.pagination li a:hover {
  background-color: #fe1ecd;
  color: #fff;
  border-radius: 15px;
}
.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      font-size: 15px;
      border: 1px solid #ab9ddc;
      border-radius: 15px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #ab9ddc;

      &:hover {
        background-color: #ab9ddc;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: rgb(108, 27, 219);
        color: #fff;
      }
    }
  }
}
