@import "../../styles/var.scss";
@import "../../styles/fonts.scss";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 670px) {
  }
}
.link {
  margin-top: 6px;
  display: flex;
  transition: 0.2s;
  padding: 6px;
}
.link:hover {
  transform: scale(1.09);
  color: red;
}
.logOut {
  font-size: $_16px;
  font-family: "Dosis";
  font-weight: 500;
}
.AuthorName {
  color: rgba(49, 48, 55, 1);
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: $_16px;
  font-family: "Dosis";
  outline: none;
  background-color: transparent;

}
.author {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.authorIcon {
  width: 48px;
  height: 48px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(108, 27, 219);
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.1s;
  font-size: 25px;
  color: white;
  margin-right: 10px;
}
